.filter-btn {
  height: 40px !important;
}

.filter-item {
  width: 200px;
}

.q-table {
  .q-tr {
    td {
      padding: 32px 12px !important;
      font-size: 14px !important;
    }
  }
}

.q-table__container {
  .q-table__bottom {
    border-top: none !important;
  }
}